@import "reset.css";

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(242, 225, 242);
  text-align: center;
  padding: 3% 0;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.background_photo {
  pointer-events: none;
  opacity: 0.2;
  position: absolute;
  top: 130px;
  left: 20px;
  width: 400px;
}

.list {
  position: relative;
  margin: auto;
  width: 430px;
  border-radius: 20px;
  background-color: rgb(254, 247, 255);
  border-radius: 30px;
  color: rgb(81, 81, 81);
  font-size: medium;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(150, 150, 150, 1);
  box-shadow: 10px 10px 5px 0px rgba(150, 150, 150, 1);
}

.header {
  margin-top: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70px;
  padding: 8px;
  font-size: x-large;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    208deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: white;
  border-radius: 30px 30px 0 0;
}

.min {
  margin-right: 8px;
  font-weight: 700;
  color: rgb(95, 123, 179);
}

.items {
  height: 600px;
  overflow-y: auto;
}

.item__divider {
  width: 90%;
  height: 1px;
  background-color: gray;
  margin: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 13px 32px;
}

.footer {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    208deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 0 0 30px 30px;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.new-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__input {
  width: 70%;
  height: 32px;
  padding: 0 7px;
  font-size: 15px;
  border-radius: 10px;
  border: 0.5px solid;
  transition: 0.2s ease-in-out;
  color: gray;
}

.footer__input:focus {
  border: 1.3px solid plum;
}

.footer__input:focus::placeholder {
  color: transparent;
}

.item__delete {
  z-index: 100;
  color: lightgray;
  transition: 0.1s ease-in-out;
}

.item__delete:hover {
  color: rgb(220, 80, 56);
  transform: scale(1.05);
}

.footer__button {
  margin-left: 10px;
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(171, 146, 176);
  border: none;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  width: 15%;
  height: 45px;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  transition: 0.15s ease-in-out;
}

.footer__button:hover {
  background-color: rgb(159, 118, 167);
}

#no-mobile {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: #b5d4f0;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: whitesmoke;
}

@media screen and (max-width: 550px) {
  #no-mobile {
    display: none;
  }
}
